@model OrderPlacedViewModel

<h5 class="mb-2">Your orders</h5>
<p><strong>@Model.TotalOrders</strong> found</p>

<table class="mt-2 mb-4 full-width">
    <tr>
        <th>Order No</th>
        <th>Order date</th>
        <th>Price</th>
        <th>&nbsp;</th>
    </tr>
    @foreach (var item in Model.OrderList)
    {
        <tr>           
            <td>
                @item.OrderDate.ToString("dd/MM/yyyy")
            </td>
            <td>
                &#x24;@item.TotalPrice
            </td>
            <td>
                @Html.ActionLink("Details", "PlacedDetails", "Order", new { orderId = item.OrderId })
            </td>
        </tr>
    }
</table>

