@model AddressRemoveViewModel

<form class="form-signin" asp-controller="Address" asp-action="Remove" method="post">
    <h4 class="form-signin-heading">Are you sure you want delete this address?</h4>
    
    <div>
        <input asp-for="AddressId" hidden />        
    </div>

    <div class="form-group">        
        <input asp-for="Street" class="form-control" readonly>        
    </div>
    <div>
        <input type="submit" class="btn btn-primary" value="Delete" />
        <a class="btn btn-light" href="/Address/List" role="button">Cancel</a>
    </div>

</form>
