
<div class="container">
    <div class="card mt-3 mb-4">
        <h2 class="card-header">About us<br><small>Grande Gift Delivery Australia Wide</small></h2>   
             
        <div class="card-body">
            <p>Grande Gift provides fast, reliable gift delivery Australia wide. We are constantly striving to create the best possible online gift shopping experience, recognising the personal nature of gift buying and the importance of your gifts arriving on time and making the right impression.</p>

            <p>Our website provides a unique level of customisation and personalisation unmatched by any other hamper company.  Every item in each hamper is accompanied by a detailed description and can be easily changed for an alternative, enabling you to create the perfect hamper for your gift recipient.  A range of personalisation options are available to further enhance your gift such as printed ribbon or adding a personally engraved plaque to the wooden hamper or wine box.  Being fully licensed, we also provide an extensive wine list.</p>

            <p>We operate a highly efficient production facility in Sydney enabling us to quickly make every hamper to order and dispatching it the same day. This is backed up by a delivery network that utilises a combination of four of Australia's leading courier services to provide you with one of the fastest, most reliable and value for money gift delivery services available.  If you are looking to find that extra special gift that needs to impress, then you've come to the right place.</p>
            
        </div>
    </div>
</div>
