
<div class="container">
    <div class="card mt-3 mb-4">
        <h2 class="card-header">Privacy Policy<br><small>Safe and secure online gift shopping</small></h2>

        <div class="card-body">
            <p>Grande Gift is committed to protecting your privacy.</p>
            <p>
                All personal information captured by our site is entered through secure pages using 256 bit SSL encryption. Any information you enter, including your personal details and gift recipient's details, will be used solely for the following purposes:
                <ul>
                    <li>processing your order;</li>
                    <li>delivering your order;</li>
                    <li>providing you with the best possible service.</li>
                </ul>
            </p>
            <p>Any personal information we hold will be held securely in accordance with our internal security policy and the law.</p>
            <p>We also collect anonymous information relating to the pages visited on our site and the previous site visited.&nbsp This information is used purely for statistical purposes and no attempt will be made to identify users or your browsing activities.</p>
            <p>Once your order is processed we will not email you with any marketing material unless you have given us your consent.</p>
            <p>Grande Gift will not sell or provide any information you provide us to any other organisation or person.</p>
        </div>
    </div>
</div>
