
<div class="container">
    <div class="card mt-3 mb-4">
        <h2 class="card-header">Terms & Conditions<br></h2>

        <div class="card-body">
            <p>The following terms and conditions govern the use of this site and the purchase of any goods from it:</p>
            <div class="card-group"><b>Cancellations</b></div>
            <p>
                Cancellations or changes to an order can be made any time prior to dispatch.&nbsp; To cancel an order please reply to your confirmation email, send us a note using
                the <a href="/Static/Contact"><u>Contact Us</u></a> page, or call us on 1300 666 555.
            </p>
            <div class="card-group"><b>Delivery</b></div>
            <p>While we will make every effort to have your goods delivered on your preferred date or within the estimated delivery timeframes, Grande Gift does not accept responsibility for and is not liable for any delivery delays. A late delivery or delivery not on your preferred date does not entitle you to a refund of the delivery fee.</p>
            <p>Grande Gift accepts no responsibility for any errors you make when entering orders, delivery instructions, card messages or other information. If an order needs to be redelivered as a result of an incorrect address any additional delivery charge will be passed on to the customer.</p>
            <p>Grabde Gift is not liable for any loss or damage arising after delivery has taken place.&nbsp This includes loss or damage resulting from delivery to an unattended address where the recipient has granted permission to leave the goods unattended.</p>
            <p>If an order is returned to our warehouse for any reason, including because the recipient failed to collect the order from their local post office, an additional delivery fee will be payable by the customer.</p>

            <div class="card-group"><b>Hampers</b></div>
            <p>In the unlikely event that an individual item in a hamper is unavailable we will substitute it with a similar item of equal or greater value. If you do not want us to do this please state this in the comments section during checkout.</p>
            <p>Hampers containing alcohol may only be purchased by and delivered to persons over 18 years of age.</p>

            <div class="card-group"><b>Site Content</b></div>
            <p>Some products are photographed with additional props. Unless something is listed in the product description it is not included.</p>
            <p>Grande Gift has not reviewed all of the sites linked to by this site and is not responsible for the content of those sites. Following the links to any off-site pages or other sites is undertaken at your own risk.</p>
            <p>All images and product descriptions on this site are copyrighted and may not be used without the written permission of Grande Gift.</p>

            <div class="card-group"><b>Limitation of Liability</b></div>
            <p>Any liability of Grande Gift in connection with the products supplied to you, subject to any non-excludable conditions or warranties implied by legislation, is limited to the amount you paid for the products supplied.</p>
            <p>Placing an order with Grande Gift constitutes an offer to enter an agreement to purchase goods. This offer is only accepted by Grande Gift when the goods are dispatched.</p>
            <p>Grande Gift reserves the right to terminate accounts, edit or cancel orders (or part thereof), or not to provide goods at our sole discretion at any time. Apart from refunding your payment for any unfulfilled orders, Grande Gift will not be liable for any loss or damage arising from exercising these rights.</p>
        </div>
    </div>
</div>
