@model HamperCreateViewModel

<div style="width: 30%">
    <h5>Create Hamper</h5>

    <form asp-controller="Hamper" asp-action="Create" method="post" enctype="multipart/form-data" asp-anti-forgery="true">

        <div asp-validation-summary="ModelOnly"></div>

        <div class="form-group">
            <label asp-for="Name">Hamper name</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name"></span> 
        </div>

        <div class="form-group">
            <label asp-for="Details">Hamper details</label>
            <input asp-for="Details" class="form-control" />
            <span asp-validation-for="Details"></span> 
        </div>

        <div class="form-group">
            <label asp-for="Price">Hamper price, AUD</label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price"></span> 
        </div>

        <div class="form-group">
            <label asp-for="Picture">Hamper Picture</label>
            <input type="file" name="file" class="form-control-file" />
        </div>

        <div>
            <input type="submit" class="btn btn-primary" value="Save" />
            <a class="btn btn-light" href="/Home/Index" role="button">Cancel</a>
        </div>
    </form>
</div>
